@model PhuKien.Models.OrderViewModel

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <a href="/gio-hang">Giỏ hàng</a>
                        <span>Thanh toán</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <form action="/Cart/Checkout" method="post">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <h6 class="checkout__title">Thông tin người mua</h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Họ tên<span>*</span></p>
                                    <input type="text" asp-for="OrderName" />
                                    <span asp-validation-for="OrderName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Số điện thoại<span>*</span></p>
                                    <input type="number" asp-for="OrderPhone" />
                                    <span asp-validation-for="OrderName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Email<span>*</span></p>
                            <input type="email" asp-for="OrderEmail" />
                            <span asp-validation-for="OrderEmail" class="text-danger"></span>
                        </div>
                        <div class="checkout__input">
                            <p>Địa chỉ<span>*</span></p>
                            <input type="text" asp-for="OrderAddress" />
                            <span asp-validation-for="OrderAddress" class="text-danger"></span>
                        </div>

                        <div class="checkout__input">
                            <p>Ghi chú<span>*</span></p>
                            <input type="text" asp-for="OrderNote" placeholder="ghi chú">
                            <span asp-validation-for="OrderNote" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4 class="order__title">Tổng tiền</h4>
                          
                            <ul class="checkout__total__all">
                                <li>Phí ship <span>Miễn phí</span></li>
                                <li>Tổng tiền <span class="lbl_total"></span></li>
                            </ul>
                         
                            <button type="submit" class="site-btn">Đặt hàng</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->
